{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "node": "10.5.0"
            }
        }]
    ],
    "plugins": [
        "syntax-dynamic-import"
    ]
}